.button{
    margin: auto 5px !important;
}
.task{
    border-bottom: 2px solid white;
}
.editform .input{
    background-color: white;
    width: 70vw;
}
.editform .button{
    margin: 10px 10px !important;
}


/* Mark as done functionality */
.trueClass{
    text-decoration: line-through;
    color: green;
}
.falseClass{
    text-decoration: none;
    color: white;
}

/* Responsiveness */
.textAndButtons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1rem;
}
.text{
    grid-column: 1 / span 11;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
}

@media (max-width: 500px) {
    .textAndButtons{
        display: grid;
        grid-template-columns: 1fr;
    }
}


